
local.properties
.idea/vcs.xml
.gradle/7.4.2/checksums/checksums.lock
.gradle/7.4.2/dependencies-accessors/dependencies-accessors.lock
.gradle/7.4.2/dependencies-accessors/gc.properties
.gradle/7.4.2/fileChanges/last-build.bin
.gradle/7.4.2/fileHashes/fileHashes.bin
.gradle/7.4.2/fileHashes/fileHashes.lock
.gradle/7.4.2/gc.properties
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/vcs-1/gc.properties
.idea/compiler.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/libraries/Gradle__android_arch_core_common_1_1_0.xml
.idea/libraries/Gradle__android_arch_core_common_1_1_1.xml
.idea/libraries/Gradle__android_arch_core_core_testing_1_1_1_aar.xml
.idea/libraries/Gradle__android_arch_core_runtime_1_1_0_aar.xml
.idea/libraries/Gradle__android_arch_core_runtime_1_1_1_aar.xml
.idea/libraries/Gradle__android_arch_lifecycle_common_1_1_0.xml
.idea/libraries/Gradle__android_arch_lifecycle_common_1_1_1.xml
.idea/libraries/Gradle__android_arch_lifecycle_extensions_1_1_1_aar.xml
.idea/libraries/Gradle__android_arch_lifecycle_livedata_1_1_1_aar.xml
.idea/libraries/Gradle__android_arch_lifecycle_livedata_core_1_1_0_aar.xml
.idea/libraries/Gradle__android_arch_lifecycle_livedata_core_1_1_1_aar.xml
.idea/libraries/Gradle__android_arch_lifecycle_runtime_1_1_0_aar.xml
.idea/libraries/Gradle__android_arch_lifecycle_runtime_1_1_1_aar.xml
.idea/libraries/Gradle__android_arch_lifecycle_viewmodel_1_1_0_aar.xml
.idea/libraries/Gradle__android_arch_lifecycle_viewmodel_1_1_1_aar.xml
.idea/libraries/Gradle__com_android_support_animated_vector_drawable_27_1_1_aar.xml
.idea/libraries/Gradle__com_android_support_appcompat_v7_27_1_1_aar.xml
.idea/libraries/Gradle__com_android_support_cardview_v7_27_1_1_aar.xml
.idea/libraries/Gradle__com_android_support_constraint_constraint_layout_1_1_3_aar.xml
.idea/libraries/Gradle__com_android_support_constraint_constraint_layout_solver_1_1_3.xml
.idea/libraries/Gradle__com_android_support_design_27_1_1_aar.xml
.idea/libraries/Gradle__com_android_support_gridlayout_v7_27_1_1_aar.xml
.idea/libraries/Gradle__com_android_support_preference_v14_27_1_1_aar.xml
.idea/libraries/Gradle__com_android_support_preference_v7_27_1_1_aar.xml
.idea/libraries/Gradle__com_android_support_recyclerview_v7_27_1_1_aar.xml
.idea/libraries/Gradle__com_android_support_support_annotations_27_1_1.xml
.idea/libraries/Gradle__com_android_support_support_compat_27_1_1_aar.xml
.idea/libraries/Gradle__com_android_support_support_core_ui_27_1_1_aar.xml
.idea/libraries/Gradle__com_android_support_support_core_utils_27_1_1_aar.xml
.idea/libraries/Gradle__com_android_support_support_fragment_27_1_1_aar.xml
.idea/libraries/Gradle__com_android_support_support_media_compat_27_1_1_aar.xml
.idea/libraries/Gradle__com_android_support_support_v4_27_1_1_aar.xml
.idea/libraries/Gradle__com_android_support_support_vector_drawable_27_1_1_aar.xml
.idea/libraries/Gradle__com_android_support_transition_27_1_1_aar.xml
.idea/libraries/Gradle__com_google_android_flexbox_1_0_0_aar.xml
.idea/libraries/Gradle__com_hannesdorfmann_adapterdelegates3_3_0_1_aar.xml
.idea/libraries/Gradle__com_jakewharton_butterknife_8_8_1_aar.xml
.idea/libraries/Gradle__com_jakewharton_butterknife_annotations_8_8_1.xml
.idea/libraries/Gradle__de_cketti_library_changelog_ckchangelog_1_2_2_aar.xml
.idea/libraries/Gradle__junit_junit_4_12.xml
.idea/libraries/Gradle__org_hamcrest_hamcrest_core_1_3.xml
.idea/libraries/Gradle__org_jetbrains_annotations_13_0.xml
.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_android_extensions_runtime_1_5_30.xml
.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_1_5_30.xml
.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_common_1_5_30.xml
.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_jdk7_1_5_30.xml
.idea/libraries/Gradle__org_mockito_mockito_core_2_7_6.xml
.idea/misc.xml
.idea/modules.xml
.idea/modules/android-section-adapter/MHFZZDatabase.android-section-adapter.iml
.idea/modules/android-sqlite-asset-helper/library/MHFZZDatabase.sqlite-asset-helper.iml
.idea/modules/android-sqlite-asset-helper/MHFZZDatabase.android-sqlite-asset-helper.iml
.idea/modules/app/MHFZZDatabase.app.iml
.idea/modules/MHFZZDatabase.iml
.idea/modules/multilevelexpindlistview/MHFZZDatabase.multilevelexpindlistview.iml
